:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --bg: #f9fbfc;
  --fg: #171717;
  --accents-1: #fcea90;
  --accents-2: #a0dbdb;
  --accents-3: #56a7a7;
  --accents-4: #f9fbfc;
  --blue-gray: #b4d1ccb6;
  --gray: #f7f9f9;
  --dark-brown: #4a3221;
  --geist-foreground: #000;

  --radius: 8px;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  background-color: var(--accents-4);
}
body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, Segoe UI, Hiragino Kaku Gothic ProN, Hiragino Sans,
    'ヒラギノ角ゴ ProN W3', Arial, メイリオ, Meiryo;

  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  display: flex;
  flex-direction: column;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #000;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 1.6rem;
  line-height: 1.4em;
  tab-size: 4;
  hyphens: none;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.string,
.token.attr-value {
  color: #028265;
}
.token.punctuation,
.token.operator {
  color: white;
}
.token.url,
.token.symbol,
.token.boolean,
.token.variable,
.token.constant {
  color: #36acaa;
}
.token.atrule,
.language-autohotkey .token.selector,
.language-json .token.boolean,
code[class*='language-css'] {
  font-weight: 600;
}
.language-json .token.boolean {
  color: var(--geist-success);
}
.token.keyword {
  color: #ff0078;
  font-weight: bolder;
}
.token.function,
.token.tag,
.token.class-name,
.token.number,
.token.tag .token.punctuation {
  color: var(--geist-success);
}
.language-autohotkey .token.tag {
  color: #9a050f;
}
.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.deleted {
  color: red;
  font-weight: bolder;
}
.token.inserted {
  color: var(--geist-success);
  font-weight: bolder;
}
.language-json .token.property,
.language-markdown .token.title {
  color: #000;
  font-weight: bolder;
}
.language-markdown .token.code {
  color: var(--geist-success);
  font-weight: normal;
}
.language-markdown .token.list,
.language-markdown .token.hr {
  color: #999;
}
.language-markdown .token.url {
  color: #ff0078;
  font-weight: bolder;
}
.token.selector {
  color: #2b91af;
}
.token.property,
.token.entity {
  color: #f00;
}
.token.attr-name,
.token.regex {
  color: #d9931e;
}
.token.directive.tag .tag {
  background: #ff0;
  color: #393a34;
}
/* dark */
pre.dark[class*='language-'] {
  color: #fafbfc;
}
.language-json .dark .token.boolean {
  color: var(--geist-success);
}
.dark .token.string {
  color: #50e3c2;
}
.dark .token.function,
.dark .token.tag,
.dark .token.class-name,
.dark .token.number {
  color: #2ba8ff;
}
.dark .token.attr-value,
.dark .token.punctuation,
.dark .token.operator {
  color: #efefef;
}
.dark .token.attr-name,
.dark .token.regex {
  color: #fac863;
}
.language-json .dark .token.property,
.language-markdown .dark .token.title {
  color: #fff;
}
.language-markdown .dark .token.code {
  color: #50e3c2;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 920px;
  max-width: calc(100vw - var(--gap-double));
}

.feature {
  flex: 0 0 25%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 1.5rem;
  margin: 0 auto;
}

.feature h4 {
  margin: 0 0 0 0.5rem;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
}

.explanation {
  font-size: 1rem;
  width: 35rem;
  max-width: 100vw;
  padding: 0 2rem;
  background: var(--bg);
  margin: var(--gap-half) auto;
}
figure {
  font-size: 0.85rem;
  color: #999;
  line-height: 1.8;
}

figure {
  font-size: 0.85rem;
  color: #999;
}
/* 色指定しないとreactのlinkで紫になる */
a {
  color: black;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: rgb(59, 59, 59);
}

.links {
  margin-top: var(--gap);
}

mark {
  padding: var(--gap-quarter);
  border-radius: var(--radius);
  background: rgba(247, 212, 255, 0.8);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}
/* blockquote */
blockquote {
  font-style: italic;
  padding: 1.5rem 4rem;
  margin: 1rem;
  background-color: var(--gray);
  color: #464646;
}

.container {
  min-height: 100vh;
  margin: 0rem 1.6rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

link {
  transition: 0.3s;
}
link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.video {
  width: 1080px;
  max-width: calc(100vw - 40px);
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  cursor: pointer;
}
.video :global(video) {
  max-width: 100%;
  max-height: 90vh;
  outline: none;
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.7;
}
pre {
  white-space: pre;
}
pre :global(code) {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  color: #eb5757;
  background: #f1f1f1;
  padding: 0.2rem;
  border-radius: var(--radius);
  font-family: var(--font-mono);
}

.slice {
  position: relative;
}

.slice::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 130%;
  background: #fff;
  transform: skew(-20deg);
}
/* menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 20px;
  right: 18px;
  top: 18px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--dark-brown);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--accents-3);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--bg);
  padding: 2.5em 1em 2.5rem;
  font-size: 3rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  color: #b8b7ad;
  padding: 0.1em;
}

/* Individual item */
.bm-item {
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  outline: none;
}
.bm-item a {
  color: var(--dark-brown);
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.dotted {
  border-bottom: 1px dashed black;
}
.iconWrapper {
  font-size: 3rem;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}
.iconWrapper i {
  display: inline-block;
  transition: opacity 200ms ease;
}
.iconWrapper i:hover {
  opacity: 0.6;
}
footer {
  padding: 2em 0;
  text-align: center;
}

footer img {
  display: block;
  margin: 0.5rem auto;
}

footer span:nth-child(3) {
  color: #777777;
}

footer span:nth-child(3) a {
  color: inherit;
}

/*タブレット*/
/* pc */
@media screen and (min-width: 601px) {
  .container {
    min-height: 100vh;
    max-width: calc(900px + 0%);
    padding: 2rem 0;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 18px;
  }
}
