.header {
  color: var(--dark-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  padding: 0.5em 0;
  text-align: center;
  letter-spacing: -0.02em;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  padding: 0;
  margin-right: 1rem;
}

.list a {
  font-size: 2rem;
  color: var(--dark-brown);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-right: 1rem;
}
.list a:active {
  color: #2e1b0e;
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
}
/* url的active */
.header :global(a.active) {
  color: #4a3221;
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /*下に動く*/
  border-bottom: none; /*線を消す*/
  font-weight: 700;
}

.logo {
  margin-left: 1rem;
  font-family: 'Mamelon';
  font-size: 3.5rem;
  color: #4a3221;
  background: linear-gradient(transparent 45%, var(--accents-1) 80%);
}

.logo a {
  color: var(--dark-brown);
}
.sideProfile {
  text-align: center;
}
.sideProfile img {
  width: 100%;
  border-radius: 50%;
}

/*タブレット*/
/* pc */
@media screen and (min-width: 601px) {
}
