.header {
  color: black;
}

.content {
  text-align: center;
}

.section {
  border-radius: 2rem;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 0.05rem solid dimgrey;
}
